. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


    .card:hover{
        transform: scale(1.02);
        box-shadow: 4px 4px 15px rgb(170, 170, 170, 0.2);
        cursor: pointer; 
        
    }


    * Jumia Footer css starts here */
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nxt-footer{
    background-color: #565658;
}
.fap{
    font-size: 13px;
}

.paddyman{
    font-size: 11px;
}

.coderX{
    width: 82%;
}

.coderP{
    width: 60%;
    margin-left: 35px;
}

hr{
    width: 88%;
}

.botlink{
    padding: 12px 20px;
    border: 1px solid white;
    color: white;
}

.botlink:hover{
    border: 1px solid rgb(247, 109, 18);
    color: rgb(247, 109, 18);
}

.botlink2{
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid white;
}

.botlink2:hover{
    border: 1px solid rgb(247, 109, 18);
}

.sublink{
    font-size: 8px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: white;
}

.sublink:hover{
    color: rgb(247, 109, 18);
}



.sublink2{
    margin: 0;
    padding-bottom: 2px;
    font-size: 14px;
    color: white;
}

.sublink2:hover{
    color: rgb(247, 109, 18);
}

.main-form{
    position: relative;
}

.font-1{
    position: absolute;
    top: 13px;
    left: 15px;
}

.font-2{
    position: absolute;
    top: 18px;
    left: 8px;
}

.footer-logo{
    margin-left: -15px;
}

input[type=email]:focus {
    border: solid rgb(247, 109, 18);
    outline: none;
  }

.mailer:hover{
    color: rgb(247, 109, 18);
}

.a-special{
    text-decoration: none;
}

.a-special:hover{
    text-decoration: underline;
}

.text-p:hover{
    color: rgb(247, 109, 18);
}

/* Jumia Footer css ends here */